/* Home.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  height: 100vh;
  overflow-x: hidden;
}

.title-bar {
  background-color: #1e1e1e;
  color: #ffd700;
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 100%;
}

.scroll-container {
  display: flex;
  align-items: center;
  white-space: nowrap;
  width: max-content;
  animation: scrollText 15s linear infinite;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.scroll-container span {
  padding: 0 40px;
  font-size: 1.2em;
}

@keyframes scrollText {
  from {
    transform: translateX(100%) translateY(-50%);
  }
  to {
    transform: translateX(-100%) translateY(-50%);
  }
}

/* Pause animation on hover */
.scroll-container:hover {
  animation-play-state: paused;
}
.hero {
  background: url('title.jpg') center/cover no-repeat;
  text-align: center;
  padding: 80px 20px;
}
.hero h1 {
  color: #ffffef;
  padding: 40px 80px;
}
.shop-btn {
  background-color: greenyellow;
  font-size: 14pt;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.shop-btn:hover {
  background-color: rgb(0, 200, 255);
  font-weight: bold;
}
