.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 15px 20px;
  font-family: Arial, sans-serif;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
  font-size: 14pt;
  font-weight: boldz;
}

.nav-links a {
  color: black;
  padding: 8px 12px;
}

.nav-links a:hover {
  text-decoration: dashed;
}

.btn-login {
  background-color: greenyellow;
  padding: 8px 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  border-radius: 20px;
  text-decoration: none;
  color: black;
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

/* Responsive Menu */
@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background: white;
    flex-direction: column;
    text-align: center;
    display: none;
  }

  .nav-links.open {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
